.clients__list, .team__list, .features__list, .social-media__link, .contacts, .nav__list {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.team__text, .team__title, .section-title {
  text-align: center;
}

.clients, .team, .about, .features {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}
@media screen and (max-width: 1199px) {
  .clients, .team, .about, .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --footer-bg-color: #2F303A;
  --secondary-bg-color: #F5F4FA;
  --header-boder-color: #ECECEC;
  --black-color: #000000;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  color: var(--black-color);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .logo {
    margin-right: auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__text--blue {
  color: var(--accent-color);
}
.logo__text--focused {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__text--focused:hover, .logo__text--focused:focus {
  color: var(--accent-color);
}

.footer__logo {
  display: inline-block;
  padding-bottom: 20px;
}

.logo__text--white {
  color: var(--primary-white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav__list {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 88px;
    margin-right: 84px;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 93px;
    margin-right: 305px;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link--current {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    display: inline-block;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
  }
}

.contacts {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .header__contacts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 302px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item--inline:not(:first-child) {
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item--inline:not(:first-child) {
    margin-left: 30px;
    margin-right: 0;
  }
}

.contacts__link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link--inline {
  display: inline-block;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link--inline {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link--inline {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767px) {
  .contacts__link--mobmenu-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767px) {
  .contacts__link--mobmenu-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
.contacts__link--address-white {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-white-color);
}
.contacts__link--address-gray {
  padding-top: 9px;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .icon-envelope,
.icon-phon {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-envelope,
.icon-phon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-envelope,
.icon-phon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-phon {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-phon {
    width: 10px;
    height: 16px;
  }
}

.footer__contacts {
  display: block;
}
@media screen and (max-width: 767px) {
  .footer__contacts {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts {
    margin-left: 60px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-left: 0;
    margin-right: 70px;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/hero/mobile-heroimg.jpg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: url(../../images/hero/mobile-heroimg.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../../images/hero/mobile-heroimg@2x.jpg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url(../../images/hero/mobile-heroimg@2x.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: url(../../images/hero/tablet-heroimg.jpg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url(../../images/hero/tablet-heroimg.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../../images/hero/tablet-heroimg@2x.jpg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url(../../images/hero/tablet-heroimg@2x.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: url(../../images/hero/desktop-heroimg.jpg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url(../../images/hero/desktop-heroimg.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../../images/hero/desktop-heroImg@2x.jpg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url(../../images/hero/desktop-heroImg@2x.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    max-width: 360px;
  }
}

.title, .footer__title, .features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}
@media screen and (max-width: 1199px) {
  .section-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  color: var(--primary-white-color);
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.modal__title {
  margin-top: 2px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: none;
  color: var(--title-text-color);
}
@media screen and (max-width: 1199px) {
  .modal__title {
    line-height: 1.5;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style: none;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  text-decoration: none;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  fill: var(--primary-white-color);
}

.social-media__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px transparent;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__item:not(:last-child) {
  margin-right: 10px;
}
.social-media__item:hover, .social-media__item:focus {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.social-media__item--bg-grey {
  background: rgba(255, 255, 255, 0.1);
}

.social-media__icon--white-fill {
  fill: var(--primary-white-color);
}

.footer__social-media {
  display: block;
}
@media screen and (max-width: 767px) {
  .footer__social-media {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social-media {
    margin-left: auto;
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-media {
    margin-top: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscribe-form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-form {
    margin-left: 93px;
    margin-right: 0;
    margin-top: 12px;
  }
}

.subscribe-form__label {
  position: relative;
}

.subscribe-form__text {
  position: absolute;
  top: 0;
  left: 16px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 1250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 1250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1250ms cubic-bezier(0.075, 0.82, 0.165, 1), color 1250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1250ms cubic-bezier(0.075, 0.82, 0.165, 1), color 1250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 767px) {
  .subscribe-form__text {
    top: 50%;
    left: 19%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__text {
    top: 50%;
    left: 31%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.subscribe-form__label:focus-within > .subscribe-form__text {
  color: var(--accent-color);
  -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
}
@media screen and (max-width: 767px) {
  .subscribe-form__label:focus-within > .subscribe-form__text {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__label:focus-within > .subscribe-form__text {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

.subscribe-form__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  outline: transparent;
  color: var(--primary-white-color);
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .subscribe-form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 320px) {
  .subscribe-form__input {
    width: inherit;
  }
}
.subscribe-form__input:not(:-moz-placeholder-shown) + .subscribe-form__text {
  color: var(--accent-color);
  transform: translateY(-34px);
}
.subscribe-form__input:not(:-ms-input-placeholder) + .subscribe-form__text {
  color: var(--accent-color);
  transform: translateY(-34px);
}
.subscribe-form__input:not(:placeholder-shown) + .subscribe-form__text {
  color: var(--accent-color);
  -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
}
.subscribe-form__label:focus-within > .subscribe-form__input {
  border: 1px solid var(--accent-color);
}
.subscribe-form__input:not(:-moz-placeholder-shown) {
  border: 1px solid var(--accent-color);
}
.subscribe-form__input:not(:-ms-input-placeholder) {
  border: 1px solid var(--accent-color);
}
.subscribe-form__input:not(:placeholder-shown) {
  border: 1px solid var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1), visibility 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1), visibility 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__content {
  margin: 0 40px 40px 40px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.close-btn__icon {
  fill: #000000;
  cursor: pointer;
}
.close-btn__icon:hover {
  fill: var(--accent-color);
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form__field:focus-within > .form__icon {
  fill: var(--accent-color);
}

.form__input,
.textarea {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 42px;
  outline: transparent;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form__field:focus-within > .form__input,
.form__field:focus-within > .textarea {
  border-color: var(--accent-color);
}

.textarea {
  padding: 12px 16px;
  resize: none;
  height: 120px;
}
.textarea::-webkit-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::-moz-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea:-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  margin-left: 14px;
}

.form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 1199px) {
  .form__checkbox-icon {
    margin-left: 12px;
  }
}
.form__checkbox-input:checked + .form__checkbox-icon {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.form__policy-link {
  color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .form__policy-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 1199px) {
  .form__policy-text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.button {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.button--primary:hover, .button--primary:focus {
  background-color: #188CE8;
}

.footer__button {
  padding: 10px 29px;
}
@media screen and (max-width: 1199px) {
  .footer__button {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin-left: 12px;
  }
}

.button__icon-send {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin-left: 10px;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;
}

/* filter__button */
@media screen and (max-width: 767px) {
  .filter {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .filter__button {
    margin-bottom: 34px;
  }
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button--current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1000;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-button .icon-cross {
    display: none;
  }
}

.icon-cross {
  fill: var(--title-text-color);
  cursor: pointer;
  z-index: 1000;
}
.icon-cross:hover {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu-button.is-open .icon-cross {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .menu-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-white-color);
    padding: 40px 48px;
    text-align: left;
  }
}
.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1000;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-button .icon-cross {
    display: none;
  }
}

.icon-cross {
  fill: var(--title-text-color);
  cursor: pointer;
  z-index: 1000;
}
.icon-cross:hover {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu-button.is-open .icon-cross {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .menu-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-white-color);
    padding: 40px 48px;
    text-align: left;
  }
}
.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .mobile-socials {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .mobile-socials {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .mobile-socials__item:not(:last-child) {
    margin-left: 0;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
.mobile-socials__link {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .mobile-socials__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
  }
}

.header {
  border-bottom: 1px solid var(--header-boder-color);
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu-container--tablet-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hero {
  text-align: center;
  padding: 200px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    row-gap: 30px;
    -ms-flex-preferred-size: 1147.5;
        flex-basis: 1147.5;
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: 354px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.features__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
.features__text {
  margin-top: 0;
  margin-bottom: 0px;
  font-style: normal;
  line-height: 1.71;
  font-style: initial;
}

.about {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
.about__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.about__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}
.about__thamb {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-bg-color);
}
.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-bottom: 0px;
  }
}
.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team__item {
  background-color: var(--primary-white-color);
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.team__item--shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0px;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--primary-white-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .clients__item {
    width: 210px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: 226px;
  }
}
.clients__item:hover, .clients__item:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  text-decoration: none;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover, .clients__icon:focus {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}
@media screen and (min-width: 1200px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .contacts__social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */