:root {
      --primary-text-color: #757575;
      --title-text-color: #212121;
      --accent-color: #2196F3;
      --primary-white-color: #ffffff;
      --footer-bg-color: #2F303A;
      --secondary-bg-color: #F5F4FA;
      --header-boder-color: #ECECEC;
      --black-color: #000000;
}

.page {
      background-color: var(--primary-white-color);
      color: var(--primary-text-color);
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.03em;
}

.container {
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;

      width: 1200px;
} */

.list {
      list-style: none;
}

.centered {
      text-align: center;
}

/* header */
.header {
      border-bottom: 1px solid var(--header-boder-color);
}

.header__content {
      display: flex;
      align-items: center;
}
      /* logo */
.logo {
      color: var(--black-color);
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      text-decoration: none;
}

.logo--blue-word {
      color: var(--accent-color);
}

.logo--focused {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--focused:hover,
.logo--focused:focus {
      color: var(--accent-color);
}

.footer__logo--white-word {
      color: var(--primary-white-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo--white-word:hover,
.footer__logo--white-word:focus {
      color: var(--accent-color);
}

.footer__logo {
      display: inline-block;
      padding-top: 60px;
      padding-bottom: 20px;
}

      /* nav */
.nav__list {
      display: flex;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 93px;
}

.nav__item:not(:last-child) {
      margin-right: 50px;
}

.nav__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--title-text-color);
      text-decoration: none;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
      color: var(--accent-color);
}

.nav__link--current {
      position: relative;

      color: var(--accent-color);
}

.nav__link--current::after {
      display: inline-block;
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;

      width: 100%;
      height: 4px;
      border-radius: 2px;

      background: var(--accent-color);
}
      /* .contacts */

.contacts{
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
}

.header__contacts {
      display: flex;
      justify-content: center;
      align-items: center;
     
      margin-left: auto;
}

.contacts__item--inline:not(:first-child) {
      margin-left: 50px;
}

.contacts__link {
      text-decoration: none;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link--inline{
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--primary-text-color);
     
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
}

.contacts__link--address-white {
      color: var(--primary-white-color);
      font-style: normal;
      line-height: 1.71;
}

.contacts__link--address-gray {
      padding-top: 9px;

      color: rgba(255, 255, 255, 0.6);
      font-style: normal;
      line-height: 1.71;
}
      
.contacts__link:hover,
.contacts__link:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
}

.icon-envelope,
.icon-phon {
      margin-right: 10px;
}

/* hero */

.hero{
      text-align: center;
      padding: 200px 0;
}

.overlay {
      margin-left: auto;
      margin-right: auto;

      max-width: 1600px;
      height: 600;

      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-bg.jpg);
      background-color: #C4C4C4;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.hero__title {
      margin-top: 0;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;

      max-width: 650px;

      color: var(--primary-white-color);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
}

/* buttons */

.button {
      display: inline-block;
      padding: 10px 32px;

      border-radius: 4px;
      border: 1px solid transparent;

      color: var(--title-text-color);
      background-color: var(--primary-white-color);
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      cursor: pointer;

      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary {
      background-color: var(--accent-color);
      color: var(--primary-white-color);
}

.button--primary:hover,
.button--primary:focus {
      background-color: #188CE8;
}

.footer__button {
      padding: 10px 29px;
      margin-left: 12px;
}

.button__icon-send {
      display: inline-block;
      align-items: center;
      vertical-align: middle;
      margin-left: 10px;
}

.formbutton {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      padding: 10px 55px;
}
            /* filter__button */

.filter__button {
      padding: 6px 22px;
      margin-bottom: 34px;

      background-color: var(--secondary-bg-color);
      color: var(--title-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
}

.filter__button:hover,
.filter__button:focus {
      background-color: var(--accent-color);
      color: var(--primary-white-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--current {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
}

.filter__list {
      display: flex;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;

      list-style-type: none;
}

.filter__item:not(:last-child) {
      margin-right: 8px;
}

/* sections */

.section {
      padding-top: 94px;
      padding-bottom: 94px;

      background-color: var(--primary-white-color);
}

.title {
      color: var(--title-text-color);
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;
}

.section-title {
      margin-top: 0;
      margin-bottom: 50px;

      color: var(--title-text-color);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
}

/* features section*/

.features__list {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      row-gap: 30px;
      flex-basis: calc(1170-(30*3)/4);
}

.features__item:not(:last-child) {
      margin-right: 30px;
}

.features__pic {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      height: 120px;

      background-color: var(--secondary-bg-color);

      border-radius: 4px;
}

.features__title {
      margin-top: 0;
      margin-bottom: 10px;
}

.features__text {
      margin-top: 0;
      margin-bottom: 0;

      font-style: normal;
      line-height: 1.71;
      font-style: initial;
}

/* about us */

.about {
      padding-top: 0;
}

.about__list {
      position: relative;
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
}

.about__item:not(:last-child) {
      margin-right: 30px;
}

.about__item {
      position: relative;
      display: flex;
}

.about__thamb {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-top: 27px;
      padding-bottom: 27px;

      width: 100%;
      height: 70px;

      background: rgba(47, 48, 58, 0.8);
}

.about__title {
      margin: 0;
      text-align: center;

      color: var(--primary-white-color);
}

/* our team */
.team__title {
      margin-top: 0;
      margin-bottom: 10px;

      color: var(--title-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
}

.team__text {
      margin-top: 0;
      margin-bottom: 16px;

      font-size: 16px;
      line-height: 1.19;
}

.team {
      background-color: var(--secondary-bg-color);
}

.team__list {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      justify-content: space-between;
}

.team__item {
      background-color: var(--primary-white-color);
}

.team__desc {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 32px;
      padding-right: 32px;
}

.team--shadow {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
}

            /* social-media */

.social-media {
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: space-between;

      list-style: none;
}
         
.social-media__item {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 44px;
      height: 44px;

      border-radius: 50%;
      border: 1px transparent;

      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link {
      display: flex;
      justify-content: center;
      align-items: center;

      width: inherit;
      height: inherit;

      fill: var(--primary-text-color);
      text-decoration: none;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__item:not(:last-child) {
      margin-right: 10px;
}

.social-media__link:hover,
.social-media__link:focus {
      fill: var(--primary-white-color);
}

.social-media__item:hover,
.social-media__item:focus {
      background-color: var(--accent-color);
      border: 1px solid var(--accent-color);
}

.social-media__item--bg-grey {
      background: rgba(255, 255, 255, 0.1);
}

.social-media__icon--white-fill {
      fill: var(--primary-white-color);
}

/* our clients */

.clients__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
}

.clients__item {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 170px;
      height: 92px;

      background-color: var(--primary-white-color);
      border: 1px solid var(--primary-text-color);
      border-radius: 4px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: inherit;
      height: inherit;

      fill: var(--primary-text-color);
      text-decoration: none;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover,
.clients__icon:focus {
      fill: var(--accent-color);
}

.clients__item:hover,
.clients__item:focus {
      border: 1px solid var(--accent-color);
}

/* footer */

.footer {
      padding-bottom: 60px;
      background-color: var(--footer-bg-color);
}

.footer-content {
      display: flex;
      justify-content: flex-start;
}

.footer__contacts {
      display: block;
      margin-right: 70px;
}

.footer__social-media {
      display: block;
      padding-top: 72px;
}

.social-media__title,
.subscribe__title {
      margin-top: 0;
      margin-bottom: 20px;

      color: var(--primary-white-color);
}

.footer__subscribe-form {
      margin-top: 72px;
      margin-left: 93px;
}

.subscribe-form__label {
      position: relative;
}

.subscribe-form__input {
      padding-left: 16px;

      width: 358px;
      height: 50px;
      outline: transparent;
      color: var(--primary-white-color);
      background-color: var(--footer-bg-color);
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
}

.subscribe-form__text {
      position: absolute;
      top: 0;
      left: 16px;

      color: rgba(255, 255, 255, 0.6);
transition: transform 1250ms cubic-bezier(0.075, 0.82, 0.165, 1),
            color 1250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.subscribe-form__label:focus-within>.subscribe-form__text {
      transform: translateY(-34px);
      color: var(--accent-color);
}

.subscribe-form__label:focus-within>.subscribe-form__input {
      border: 1px solid var(--accent-color);
}

.subscribe-form__input:not(:placeholder-shown)+.subscribe-form__text {
      transform: translateY(-34px);
      color: var(--accent-color);
}

.subscribe-form__input:not(:placeholder-shown){
      border: 1px solid var(--accent-color);
}

/* Портфолио */

.gallery__list {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      margin-right: 0;
      display: flex;
      flex-wrap: wrap;

      background-color: var(--primary-white-color);
}

.gallery__item {
      margin-bottom: 30px;
}

.gallery__item:not(:nth-child(3n)) {
      margin-right: 30px;
}

.gallery__link {
      display: block;
      margin: 0;
      padding: 0;

      text-decoration: none;
}

.gallery__img {
      display: block;
}

.gallery__title {
      margin-top: 0;
      margin-bottom: 4px;

      color: var(--title-text-color);
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
}

.gallery__text {
      margin-top: 0;
      margin-bottom: 0;
      color: var(--primary-text-color);
      font-size: 16px;
      line-height: 1.88;
}

.gallery__desc {
      padding: 20px 24px;
      background: var(--primary-white-color);
      border: 1px solid #EEEEEE;
      border-top: 0;
}

.gallery__item:hover,
.gallery__item:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__thumb {
      display: flex;
      position: relative;
      overflow: hidden;
}

.gallery__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-top: 63px;
      padding-bottom: 63px;
      padding-left: 24px;
      padding-right: 24px;

      width: 100%;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);

      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.gallery__thumb:hover .gallery__overlay {
      transform: translateY(0)
}

.overlay__text {
      margin: 0;
      font-size: 18px;
      line-height: 1.56;
      color: var(--primary-white-color);
}

/* modal */

.backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: rgba(0, 0, 0, 0.2);

      visibility: visible;
      opacity: 1;
      transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
            visibility 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrop.is-hidden .modal {
      transform: translate(-50%, -50%) scale(0.8);
}

.modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

      width: 528px;
      height: 581px;

      background-color: var(--primary-white-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
}

.backdrop.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
}

.close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-top: 8px;
      margin-right: 8px;

      width: 30px;
      height: 30px;

      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: var(--primary-white-color);
}

.close-btn__icon {
      fill: #000000;
      cursor: pointer;
}

.close-btn__icon:hover{
      fill: var(--accent-color);
}

.modal__content{
      margin: 0 40px 40px 40px;
}

.modal__title{
      margin-top: 2px;
      margin-bottom: 12px;
       
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      text-transform: none;
      color: var(--title-text-color);
}

.form__field {
      position: relative;

      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
}

.form__input,
.textarea {      
      margin: 0;
      padding-left: 42px;

      outline: transparent;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1)
}

.form__label {
      margin-bottom: 4px;

      font-size: 12px;
      letter-spacing: 0.01em;}

.form__icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1)}     
      
.form__field:focus-within>.form__icon {
      fill: var(--accent-color);
}

.form__field:focus-within>.form__input,
.form__field:focus-within>.textarea {
      border-color: var(--accent-color);
}

.textarea {
      padding: 12px 16px;
      resize: none;
      height: 120px;
}

.textarea::placeholder{
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
 }

 .checkbox__input {
       appearance: none;
       position: absolute;
      margin-left: 14px;
 }

 .checkbox__icon {
      display: inline-block;
      margin-left: 12px;
      width: 16px;
      height: 15px;
      border: 2px solid var(--title-text-color);
      border-radius: 2px;
      transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1)
}

.checkbox__input:checked + .checkbox__icon{
      border: 2px solid var(--accent-color);
      background-color: var(--accent-color);
      background-image: url(../images/icon-check.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-origin: border-box;
}

.policy-link{
      color: var(--accent-color);
}
