// utils
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/colors";

// base
@import "./base/common";

// components
@import "./components/container";
@import "./components/logo";
@import "./components/navigation";
@import "./components/contacts";
@import "./components/title";
@import "./components/social-media";
@import "./components/subscribe-form";
@import "./components/gallery-overlay";
@import "./components/buttons";
@import "./components/filter";


// layouts
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/gallery";