.contacts {
    @extend %list;
    @include verticalMargin (0, 0);
      
}

.header__contacts {
    @media screen and (max-width: 767px) {
           display: inline-flex;
           flex-direction: column-reverse;
           @include verticalMargin(302px, 64px);
        }
          
    @media screen and (min-width: 768px) and (max-width: 1199px){
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            @include horizontallylMargin(auto, 0);
          }

    @media screen and (min-width: 1200px) {
            @include flexCentered (flex, null, center);
        }
}


.contacts__item--inline:not(:first-child) {

    @media screen and (max-width: 767px) {
        @include verticalMargin(0, 32px);
        @include horizontallylMargin (0, 0);
        }
    
    @media screen and (min-width: 1200px){
        @include horizontallylMargin (30px, 0);
        } 
}


.contacts__link {
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &--inline {
                display: inline-block;

                @media screen and (min-width: 768px) and (max-width: 1199px) {
                        @include fonts (500, 12px, 1.22, 0.02em);
                    }

                @media screen and (min-width: 1200px) {
                        padding-top: 32px;
                        padding-bottom: 32px;
                        @include fonts (500, null, 1.14, 0.02em);
                    }       

                color: var(--primary-text-color);
                    }


            &--mobmenu-mail{

                @media screen and (max-width: 767px) {
                    @include fonts (500, 24px, 1.17, 0.02em);
                        }
                }


            &--mobmenu-tel{
                    @media screen and (max-width: 767px) {
                            @include fonts (500, 34px, 1.18, 0.02em);
                            color: var(--accent-color);
                        }           
                }


            &--address-white {
                font-style: normal;
                line-height: 1.71;

                color: var(--primary-white-color); 
                }


            &--address-gray {
                padding-top: 9px;

                font-style: normal;
                line-height: 1.71;

                color: rgba(255, 255, 255, 0.6);
            }

            &:hover,
            &:focus {
                color: var(--accent-color);
                fill: var(--accent-color);
            }
}


.icon-envelope,
.icon-phon {

    @media screen and (max-width: 767px) {
           display: none;
        }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            @include horizontallylMargin (null, 8px);
        }

    @media screen and (min-width: 1200px) {
            @include horizontallylMargin (null, 10px);
        }
}


.icon-envelope{

    @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 14px;
            height: 10px;
        }
        
    @media screen and (min-width: 1200px) {
            width: 16px;
            height: 12px;
        }
}


.icon-phon{

    @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: 10px;
                height: 14px;
        }
        
    @media screen and (min-width: 1200px) {
                width: 10px;
                height: 16px;
        }
}


 





.footer__contacts {
    display: block;
   
    
    @media screen and (max-width: 767px) {
            text-align: center;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px){
                @include horizontallylMargin(60px, auto);           
            }

     @media screen and (min-width: 1200px) {
            @include horizontallylMargin (0, 70px);
        }
}