.contacts {
    @extend %list;
    @include verticalMargin (0, 0);
    padding-left: 0;
}

.header__contacts {
    @include flexCentered ();

    @include horizontallylMargin (auto, null)
}

.contacts__item--inline:not(:first-child) {
    @include horizontallylMargin (50px, null)
}

.contacts__link {
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--inline {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        @include fonts (500, null, 1.14, 0.02em);

        color: var(--primary-text-color);
    }

    &--address-white {
        font-style: normal;
        line-height: 1.71;

        color: var(--primary-white-color); 
    }

    &--address-gray {
        padding-top: 9px;

        font-style: normal;
        line-height: 1.71;

        color: rgba(255, 255, 255, 0.6);
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }

}

.icon-envelope,
.icon-phon {
    @include horizontallylMargin (null, 10px);
}

.footer__contacts {
    display: block;
    @include horizontallylMargin (null, 70px);
}