.overlay {
    @include horizontallylMargin (auto, auto);
    max-width: 1600px;
    height: 600;

    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: 
            url(../../images/hero/mobile-heroimg.jpg), 
            linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        // Для ретіна екранів мобільна версія
    @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:url(../../images/hero/mobile-heroimg@2x.jpg), 
                linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
            }
        

    @media screen and (min-width: 768px) {
            background-image: url(../../images/hero/tablet-heroimg.jpg), 
            linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        
                // Для ретіна екранів планшетна версія
    @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:url(../../images/hero/tablet-heroimg@2x.jpg),
                linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
            }
            }
        

    @media screen and (min-width: 1200px) {
            background-image: url(../../images/hero/desktop-heroimg.jpg),
            linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        
                // Для ретіна екранів десктопна версія
    @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../../images/hero/desktop-heroImg@2x.jpg),
            linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
            }
            }
}