.logo {
    color: var(--black-color);
    font-family: 'Raleway', sans-serif;

    @media screen and (max-width: 767px) {
         margin-right: auto;
        @include fonts (700, 24px, 1.17, null);
    }

    @media screen and (min-width: 768px) {
            @include fonts (700, 26px, 1.2, null);
    }
   
    text-decoration: none;

}

.logo__text{
    &--blue {
        color: var(--accent-color);
    }

    &--focused {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
            &:focus {
                color: var(--accent-color);
            }
    }

  }



.footer__logo {
    display: inline-block;
    padding-bottom: 20px;

}


.logo__text--white {
    color: var(--primary-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


