.social-media {
    @include flexCentered (flex, center, center);
    @include verticalMargin (0, 0);
    @include horizontallylMargin (0, 0);
    
    padding: 0;

    list-style: none;
}


.social-media__link {
    @extend %list;
    @include flexCentered;

    width: inherit;
    height: inherit;

    text-decoration: none;

    fill: var(--primary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    fill: var(--primary-white-color);
}
}

.social-media__item {
    @include flexCentered;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    border: 1px transparent;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:not(:last-child) {
    margin-right: 10px;
}


&:hover,
&:focus {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}


&--bg-grey {
    background: rgba(255, 255, 255, 0.1);
}
}

.social-media__icon--white-fill {
    fill: var(--primary-white-color);
}

.footer__social-media {
    display: block;

@media screen and (max-width: 767px) {
        @include verticalMargin(60px, 60px)
    }

          @media screen and (min-width: 768px) and (max-width: 1199px) {
              @include horizontallylMargin(auto, 60px);
          }
           @media screen and (min-width: 1200px) {
               @include verticalMargin(12px, null);
           }
}