.footer__subscribe-form {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        @include verticalMargin(60px, null);
    }

    @media screen and (min-width: 1200px) {
            @include horizontallylMargin (93px, 0);
            @include verticalMargin(12px, null);
        }
   
}    
    
.subscribe-form__label {
    position: relative;
}


.subscribe-form__text {
    position: absolute;

    @media screen and (max-width: 767px) {
            top: 50%;
            left: 19%;
            transform: translate(-50%, -50%);
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
            top: 50%;
            left: 31%;
            transform: translate(-50%, -50%);
        }   

    top: 0;
    left: 16px;

    color: rgba(255, 255, 255, 0.6);

    transition: transform 1250ms cubic-bezier(0.075, 0.82, 0.165, 1),
        color 1250ms cubic-bezier(0.075, 0.82, 0.165, 1);


.subscribe-form__label:focus-within> & {
    color: var(--accent-color);

    @media screen and (max-width: 767px) {
            transform: translateY(-40px);
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
            transform: translateY(-40px);
        }

    transform: translateY(-34px);
}
}


.subscribe-form__input {

    @media screen and (max-width: 1199px) {
            display: block;
    @include horizontallylMargin(auto, auto);        }
   

    padding-left: 16px;


    width: 358px;
    height: 50px;
    @media screen and (max-width: 320px) {
        width: inherit;}

    outline: transparent;

    color: var(--primary-white-color);
    background-color: var(--footer-bg-color);

    border: 1px solid rgba(255, 255, 255, 0.3);    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;


            &:not(:placeholder-shown)+.subscribe-form__text {
                    color: var(--accent-color);
    
                    transform: translateY(-34px);
}

.subscribe-form__label:focus-within> & {
    border: 1px solid var(--accent-color);
}

            &:not(:placeholder-shown) {
                border: 1px solid var(--accent-color);
            }
}

