.about {

    @media screen and (max-width: 1199px) {
            display: none;
    }


    padding-top: 0;
    @extend %section;
    
&__list {
    position: relative;
    display: flex;
    @include verticalMargin (0, 0);
    padding-left: 0;
}

&__item {
    position: relative;
    display: flex;
}

&__item:not(:last-child) {
    @include horizontallylMargin (null, 30px);
}

&__thamb {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
}
}

