.features{
    @extend %section;

&__list {
    @extend %list;
    display: flex;
    @include verticalMargin (0, 0);
    padding-left: 0;
    row-gap: 30px;
    flex-basis: calc(1170 - (30*3)/4);
}

&__item:not(:last-child) {
    @include horizontallylMargin (null, 30px);
}

&__pic {
    @include flexCentered;
    @include verticalMargin (null, 30px);

    height: 120px;

    background-color: var(--secondary-bg-color);

    border-radius: 4px;
}

&__text {
    @include verticalMargin (0, 0);
    
    font-style: normal;
    line-height: 1.71;
    font-style: initial;
}
}

