.team {
    @extend %section;

    background-color: var(--secondary-bg-color);


&__text {
    @include verticalMargin (0, 16px);

    @extend %centered;
    @include fonts (null, 16px, 1.19, null);
}

&__list {
    @extend %list;
    @include flexCentered (flex, space-between, center);
    @include verticalMargin (0, 0);
  
    padding-left: 0;  
}


&__desc {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
}


.team__item {
    background-color: var(--primary-white-color);


    &--shadow {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
}
