:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --footer-bg-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
    --header-boder-color: #ECECEC;
    --black-color: #000000;
}