%list {
    list-style: none;
}

%centered {
    text-align: center;
}

%section {

    @media screen and (max-width: 1199px) {
            @include verticalPadding(60px, 60px);
        }

    @include verticalPadding(94px, 94px);

    background-color: var(--primary-white-color);
}