.gallery{
    @extend %section;


&__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) and (max-width: 1199px){
        display: flex;
            flex-wrap: wrap;
            @include verticalMargin(-15px, -15px);
            @include horizontallylMargin(-15px, -15px);
    }

          @media screen and (min-width: 1200px){
    @include verticalMargin (0, 0);
    @include horizontallylMargin (null, 0);}

    padding-left: 0;
    background-color: var(--primary-white-color);
}


&__link {
    display: block;
    @include verticalMargin (0, 0);
    @include horizontallylMargin (0, 0);
    padding: 0;

    text-decoration: none;
}


&__desc {
    padding: 20px 24px;

    background: var(--primary-white-color);

    border: 1px solid #EEEEEE;
    border-top: 0;
}
}

.gallery__item {
    @media screen and (max-width: 767px) {
width: 100%;        
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
            width: 354px;
margin: 15px;
         }

                        @media screen and (min-width: 768px){
    @include verticalMargin (null, 30px);}


&:not(:nth-child(3n)) {
    @media screen and (min-width: 1200px) {
    @include horizontallylMargin (null, 30px);}
}


&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}    
}


.gallery__text {
    @include verticalMargin (0, 0);
    
    @include fonts (null, 16px, 1.88, none);
 
    color: var(--primary-text-color);
}





